.wrapper-form {
  width: 100%;
  display: flex;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
    button {
      margin-top: 10%;
      width: 50%;
      height: 50px;
      align-self: center;
    }
  }
}