.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 2%;
  box-sizing: border-box;
  .wrapper-mail {
    margin-bottom: 4%;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: #187498;
    }
  }
  .wrapper-phones {
    display: flex;
    flex-direction: column;
    span {
      color: white;
      letter-spacing: 2px;
      line-height: 1.5em;
      font-size: 0.9em;
    }
  }
  hr {
    width: 50%;
    height: 1px;
    border: 0;
    background-color: white;
  }
}

.wrapper-header-schema {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.wrapper-add-button {
  display: flex;
  align-items: center;
  height: 100px;
  .add-button {
    border: none;
    box-shadow: 2px 4px 2px 1px black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin-left: 2%;
    cursor: pointer;
    background-color: #00FFAB;
  }
  .add-button:hover {
    background-color: #14C38E;
    box-shadow: 2px 4px 2px 2px black;
  }
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  .wrapper-title {
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1%;
  }
  .wrapper-description {
    margin-top: 1%;
    max-width: 50%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
  }
}

.wrapper-list {
  margin-left: 4%;
  .list {
    list-style: auto;
    .item_dash:before {
      content:  "—";
      margin-right: 5px;
    }
    .item_dot:before {
      content:  "•";
      margin-right: 5px;
    }
    .list__item {
      font-family: 'Roboto', sans-serif;
      a {
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 3%;
        padding: 2px 5px;
        text-decoration: none;
        color: white;
        background: green;
        letter-spacing: 1.5px;
        box-shadow: 0px 0px 5px 1px black;
      }
    }
  }
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 1px black;
  background-color: white;
  .form__item {
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px black;
    padding: 2px 5px;
    margin: 2% 0;
    input {
      border: none;
      outline: none;
    }
  }
  button {
    border: none;
    box-shadow: 0px 0px 3px 0px black;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #FFCD38;
    margin-bottom: 5%;
  }
  button:hover {
    background-color: #FF8D29;
  }
}

@media (max-width: 700px) {
  .wrapper-text {
    .wrapper-description {
      max-width: 90%;
    }
  }
  .wrapper-form {
    .form {
      width: 90%;
      .form__item {
        width: 90%;
        input {
          width: 100%;
        }
      }
    }
  }
}