body {
  margin: 0;
}
.wrapper-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__item {
  width: 50%;
}
button {
  padding: 10px 20px;
}