.wrapper-form {
  display: flex;
  // align-items: center;
  justify-content: center;
  .form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    .form__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      margin-bottom: 2%;
      font-family: 'Roboto', sans-serif;
      label {
        max-width: 45%;
      }
      input {
        width: 45%;
      }
    }
  }
}