.wrapper-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .wrapper-photo-card {
    margin: 5%;
    .photo-card {
      max-width: 300px;
      height: 300px;
      box-shadow: 0px 0px 5px 1px black;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .wrapper-img {
        height: 60%;
        overflow: hidden;
      }
      .wrapper-text {
        height: 40%;
        overflow: hidden;
        padding: 2%;
        box-sizing: border-box;
      }
    }
  }
}