.wrapper-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .wrapper-photo-card {
    margin: 5%;
    .photo-card {
      max-width: 200px;
      height: 300px;
      background-color: green;
      border: 3px solid black;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .wrapper-img {
        height: 60%;
        overflow: hidden;
      }
      .wrapper-text {
        height: 40%;
        overflow: hidden;
      }
    }
  }
}