/* helpers */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}
/* --- */

.slider {
  width: 98%;
  margin: auto;
  .slider__item {
    max-height: 350px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper-img {
      width: 80%;
      height: 80%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .wrapper-text {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding: 2%;
      background-color: white;
      width: 80%;
      height: 20%;
      font-family: 'Roboto', sans-serif;
    }
  }
}