.wrapper-main {
  .wrapper-list {
    margin-bottom: 2%;
  }
}

.wrapper-images {
  width: 100%;
  .wrapper-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .image {}
  }
}